.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: background-color 0.1s ease-in-out;
  }

  .circle:active{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;;
  }

  .OrangeCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color:#FF922E;
    transition: background-color 0.1s ease-in-out;
  }
  .OrangeCircle:active {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;;

  }

  .GrayCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color:#D9D9D9;
    color: black;
    transition: background-color 0.1s ease-in-out;
  }

  .GrayCircle:active {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    color: black;
    background-color: white;
  }

  .NullCircle {
    width: 180px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 45px;
    transition: background-color 0.1s ease-in-out;
  }

  .NullCircle:active {
    width: 180px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
  }

input{
  background: rgba(0, 0, 0, 0); 
  border: none;
  position: relative;
  width: 380px;
  height: 85px;
  margin-bottom: 20px;
  font-size: 70px;
}